.Logo {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.Logo__icon {
    font-size: 5rem;
    color: var(--color-primary);
}

.Logo__text {
    font-family: 'Comfortaa', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;

    color: var(--color-light);
}

/* Logo blue */
.Logo.blue .Logo__icon {
    color: var(--color-secondary);
    font-size: 4rem;
}

.Logo.blue .Logo__text {
    color: var(--color-secondary-light);
    font-size: 1.4rem;
}
