.About {
    background-image: linear-gradient(to right, var(--color-dark) 10%, var(--color-black));
    background-size: cover;
    background-position: center;
}

.About__content {
}

.About__content__img {
    margin: 3rem auto;
    width: 340px;
    box-shadow: 0 0 10px 0 var(--color-secondary-light);
    border-radius: 10px;
}

.About__content__description {
    font-size: var(--text-medium);
    color: var(--color-secondary-light);

    opacity: 0;
    transform: translateY(5rem);
    transition: all 1.5s ease-out;
}

.About__content__description.show {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 576px) {
    .About__content__img {
        display: block;
        margin-inline: auto;
    }
}

@media (min-width: 1024px) {
    .About {
        margin-top: -10rem;
    }

    .About__content__img {
        display: block;
        margin: 5rem auto 8rem;
        width: 500px;
    }
}

@media (min-width: 1440px) {
    .About__content {
        display: grid;
        grid-template-columns: 55% 1fr;
        grid-template-rows: 1fr 200px;
        gap: 5rem;
        column-gap: 7rem;
    }

    .About__content__description {
        grid-row: 1/2;
        font-size: var(--text-big);
    }

    .About__content__img {
        grid-row: 1/-1;
        margin: 0;
    }
}
