.Offer {
    background-color: var(--color-light);
    padding: 4rem 0 6rem;

    overflow: hidden;
}

.Offer__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 1024px) {
    .Offer {
        padding: 4rem 0 8rem;
    }

    .Offer__cards {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
}

@media (min-width: 1440px) {
    .Offer__cards {
        gap: 7rem;
    }
}
