.Container {
    max-width: 95%;
    margin: 0 auto;
}

@media (min-width: 1440px) {
    .Container {
        max-width: 1024px;
    }
}

@media (min-width: 1600px) {
    .Container {
        max-width: 1200px;
    }
}
