@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

:root {
    /* colors */
    --color-primary: #ffe55e;
    --color-primary-light: #ffe042;
    --color-secondary: #8094da;
    --color-secondary-light: #79d8ff;
    --color-secondary-dark: #0e1428;

    --color-light: #f8f8f8;
    --color-dark: #231f20;

    --color-white: #fff;
    --color-black: #000;
    --color-grey: #747474;

    /* fonts */
    --text-small: 1.2rem;
    --text-normal: 1.4rem;
    --text-medium: 1.6rem;
    --text-big: 2rem;
    --text-large: 2.5rem;

    --heading-small: 3rem;
    --heading-medium: 3.5rem;
    --heading-big: 4.5rem;
    --heading-large: 5.5rem;

    /* cubic beziers */
    --cubic-bezier-easeOutCirc: 0, 0.55, 0.45, 1;
    --cubic-bezier-easeInQuart: 0.5, 0, 0.75, 0;

    /* breakpoints */
    /* --mq-small: 576px;
    --mq-medium: 768px;
    --mq-big: 1024px;
    --mq-large: 1440px;
    --mq-xlarge: 1600px; */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}
