.Nav {
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: 11; */

    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.7s cubic-bezier(var(--cubic-bezier-easeInQuart));
    transform: translateX(-100%);
}

.Nav.active {
    transform: translateX(0);
}

.Nav__items {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Nav__items__item {
}

.Nav__items__item__link {
    text-decoration: none;

    font-size: var(--heading-medium);
}
